<h1>showing selecting article <%= @article %></h1>

<p> title is <%= @article.title %></p>

<p>description is <%= @article.description %></p>


<%= link_to 'back to hghghg', edit_article_path(@article)%>

<%= link_to 'back to articles', articles_path %>